body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

label {
	display: inline;
}

.inline-input {
	display: inline;
}

.submit-button {
	margin-top: 10px;
}

.input-text {
	margin-top: 5px;
	margin-bottom: 5px;
}

.interest-buttons {
	background-color: #ddd;
	border: 2px solid rgb(250, 250, 153);
	color: black;
	padding: 20px 10px;
	margin-left: 15px;
	margin-top: 10px;
	border-radius: 8px;
	font-weight: bold;
	transition-duration: 0.4s;
}

.interest-buttons:hover {
	background-color: rgb(250, 250, 153);;
	color: black;
	padding: 20px 10px;
	margin-left: 15px;
	border-radius: 8px;
	font-weight: bold;
	cursor:pointer;
}

#checkbox {
	padding: 5px;
	font-size: 14px;
}